#board {
    width: 31em;
    height: 30em;
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 160px;
    height: 160px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: -1px;
    font-family: sans-serif;
    text-align: center;
    line-height: 160px;
    font-size: 10em;
    margin-right: -5px;
}

#top {
    width: 31em;
    height: 1em;
}

#playermove,
#notification,
#buttons {
    width: 10em;
    display: inline-block;
    text-align: center;
}

.center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
